@model ZiTechDev.CommonModel.Requests.Auth.AuthenticateForgotPasswordRequest
@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header text-center">
                    <img class="logo-md card-img img-thumbnail bg-dark shadow-lg" src="~/img/logo.jpg" />
                    <h3 class="font-weight-light my-4">@ViewBag.Title</h3>
                </div>
                <div class="card-body">

                    <form asp-controller="Auth" asp-action="AuthenticateForgotPassword" method="post">

                        <div class="form-group text-center">
                            <div class="summary-error bg-danger text-white" asp-validation-summary="ModelOnly"></div>
                        </div>

                        <div class="form-group" hidden>
                            <input asp-for="UserNameOrEmail" type="text" class="form-control" />
                        </div>

                        <div class="form-group" hidden>
                            <input asp-for="Provider" type="text" class="form-control" />
                        </div>

                        <div class="card-body border bg-light rounded mb-2">
                            @{
                                switch (Model.Provider)
                                {
                                    case "google":
                                        <p>Mở ứng dụng Google Authenticator trên điện thoại của bạn và sử dụng mã được cung cấp cho tài khoản của bạn. <a href="#" class="font-weight-bold">Tìm hiểu thêm</a></p>
                                        break;
                                    case "microsoft":
                                        <p>Mở ứng dụng Microsoft Authenticator trên điện thoại của bạn và sử dụng mã được cung cấp cho tài khoản của bạn. <a href="#" class="font-weight-bold">Tìm hiểu thêm</a></p>
                                        break;
                                    case "email":
                                        <p class="d-block">Kiểm tra hộp thư điện tử bạn dùng để đăng ký với chúng tôi để nhận mã xác minh. <a href="#" class="font-weight-bold">Tìm hiểu thêm</a></p>
                                        <a class="small" href="@Url.Action("AuthenticateForgotPassword", "Auth", new { userNameOrEmail = Model.UserNameOrEmail, provider = "email" })">Gửi lại mã</a>
                                        break;
                                    case "sms":
                                        <p class="d-block">Mã xác minh được gửi bằng tin nhắn đến điện thoại của bạn. <a href="#" class="font-weight-bold">Tìm hiểu thêm</a></p>
                                        <a class="small" href="@Url.Action("AuthenticateForgotPassword", "Auth", new { userNameOrEmail = Model.UserNameOrEmail, provider = "sms" })">Gửi lại mã</a>
                                        break;
                                    case "recovery":
                                        <p>Trong trường hợp không có phương thức xác thực nào khả dụng với bạn trong thời điểm này, bạn có thể sử dụng các mã khôi phục từng được cung cấp để thay thế. <a href="#" class="font-weight-bold">Tìm hiểu thêm</a></p>
                                        break;
                                    default: break;
                                }
                            }
                        </div>

                        <div class="form-group">
                            <label asp-for="PinCode" class="control-label"></label>
                            <span class="text-danger"> (*)</span>
                            <input asp-for="PinCode" class="form-control" />
                            <span asp-validation-for="PinCode" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Xác nhận" class="btn btn-primary w-100" />
                        </div>

                        <div class="form-group d-flex align-items-center justify-content-between">
                            <a class="small" href="@Url.ActionLink("GetForgotPasswordMethod", "Auth", new { userNameOrEmail = Model.UserNameOrEmail })">Thử cách khác</a>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>