@model ZiTechDev.CommonModel.Requests.Auth.Authenticate2FARequest
@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header text-center">
                    <img class="logo-md card-img img-thumbnail bg-dark shadow-lg" src="~/img/logo.jpg" />
                    <h3 class="font-weight-light my-4">@ViewBag.Title</h3>
                </div>
                <div class="card-body">

                    <form asp-controller="Auth" asp-action="AuthenticateMethod" method="post" id="form-method">

                        <div class="form-group" hidden>
                            <label asp-for="UserName" class="control-label"></label>
                            <span class="text-danger"> (*)</span>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <div class="form-group" hidden>
                            <input asp-for="RememberMe" type="checkbox" class="form-control" />
                        </div>

                        <div class="form-group" hidden>
                            <label asp-for="Provider" class="control-label"></label>
                            <span class="text-danger"> (*)</span>
                            <input id="txbProvider" asp-for="Provider" class="form-control" />
                            <span asp-validation-for="Provider" class="text-danger"></span>
                        </div>

                        <div class="row m-1">
                            <div class="col-4 p-1" onclick="Method2faSelected('google')">
                                <div class="card h-100 shadow">
                                    <div class="d-flex justify-content-center">
                                        <img class="card-img-top logo-md mt-2" src="~/img/google-authenticator-logo.png" alt="">
                                    </div>
                                    <button type="button" class="card-body text-center border-0 bg-white">
                                        <p class="card-text">Xác thực bằng Google Authenticator</p>
                                    </button>
                                </div>
                            </div>

                            <div class="col-4 p-1" onclick="Method2faSelected('microsoft')">
                                <div class="card h-100 shadow">
                                    <div class="d-flex justify-content-center">
                                        <img class="card-img-top logo-md mt-2" src="~/img/microsoft-authenticator-logo.png" alt="">
                                    </div>
                                    <button type="button" class="card-body text-center border-0 bg-white">
                                        <p class="card-text">Xác thực bằng Microsoft Authenticator</p>
                                    </button>
                                </div>
                            </div>

                            <div class="col-4 p-1" onclick="Method2faSelected('email')">
                                <div class="card h-100 shadow">
                                    <div class="d-flex justify-content-center">
                                        <img class="card-img-top logo-md mt-2" src="~/img/email-authenticator-logo.png" alt="">
                                    </div>
                                    <button type="button" class="card-body text-center border-0 bg-white">
                                        <p class="card-text">Xác thực bằng Email</p>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="row m-1">
                            <div class="col-4 p-1" onclick="Method2faSelected('sms')">
                                <div class="card h-100 shadow">
                                    <div class="d-flex justify-content-center">
                                        <img class="card-img-top logo-md mt-2" src="~/img/sms-authenticator-logo.png" alt="">
                                    </div>
                                    <button type="button" class="card-body text-center border-0 bg-white">
                                        <p class="card-text">Xác thực bằng SMS</p>
                                    </button>
                                </div>
                            </div>

                            <div class="col-4 p-1" onclick="Method2faSelected('recovery')">
                                <div class="card h-100 shadow">
                                    <div class="d-flex justify-content-center">
                                        <img class="card-img-top logo-md mt-2" src="~/img/recovery-code-logo.jpg" alt="">
                                    </div>
                                    <button type="button" class="card-body text-center border-0 bg-white">
                                        <p class="card-text">Xác thực bằng mã khôi phục</p>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="/js/Auth/authenticate-method.js" defer></script>
}