@model ZiTechDev.Business.Requests.Auth.ChangePasswordRequest

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Đổi mật khẩu</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/CustomCommonStyle.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Đổi mật khẩu</h3></div>
                                <div class="card-body">
                                    <form asp-controller="Auth" asp-action="ChangePassword">
                                        <div class="form-group text-center">
                                            <div class="summary-error bg-danger text-white" style="list-style: none" asp-validation-summary="ModelOnly"></div>
                                        </div>
                                        <div class="form-group" hidden>
                                            <label asp-for="Id" class="control-label"></label>
                                            <input asp-for="Id" class="form-control" />
                                            <span asp-validation-for="Id" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="OldPassword" class="control-label"></label>
                                            <span class="text-danger"> (*)</span>
                                            <div class="input-group">
                                                <input id="_old-password" class="form-control py-4" type="password" asp-for="OldPassword" />
                                                <div class="input-group-append">
                                                    <span class="input-group-text">
                                                        <a href="#">
                                                            <i onclick="ShowHidePW('old-password')" id="old-password" class="fa fa-eye" aria-hidden="true"></i>
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="NewPassword" class="control-label"></label>
                                            <span class="text-danger"> (*)</span>
                                            <div class="input-group">
                                                <input id="_new-password" class="form-control py-4" type="password" asp-for="NewPassword" />
                                                <div class="input-group-append">
                                                    <span class="input-group-text">
                                                        <a href="#">
                                                            <i onclick="ShowHidePW('new-password')" id="new-password" class="fa fa-eye" aria-hidden="true"></i>
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="PasswordConfirmation" class="control-label"></label>
                                            <span class="text-danger"> (*)</span>
                                            <div class="input-group">
                                                <input id="_password-confirmation" class="form-control py-4" type="password" asp-for="PasswordConfirmation" />
                                                <div class="input-group-append">
                                                    <span class="input-group-text">
                                                        <a href="#">
                                                            <i onclick="ShowHidePW('password-confirmation')" id="password-confirmation" class="fa fa-eye" aria-hidden="true"></i>
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                            <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary w-100" type="submit">Lưu</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/Auth/change-password.js"></script>
</body>
</html>
