@model ZiTechDev.CommonModel.Requests.Auth.Authenticate2FARequest
@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header text-center">
                    <img class="logo-md card-img img-thumbnail bg-dark shadow-lg" src="~/img/logo.jpg" />
                    <h3 class="font-weight-light my-4">@ViewBag.Title</h3>
                </div>
                <div class="card-body">

                    <form asp-controller="Auth" asp-action="GetAuthenticationMethod" method="post" id="form-method">

                        <div class="form-group text-center">
                            <a class="btn btn-sm px-5 btn-outline-dark" href="@Url.ActionLink("LoginUserName", "Auth", new { userNameOrEmail = Model.UserNameOrEmail })" role="button">
                                <img class="avatar-sm" src="~/img/logo.jpg" />
                                @Model.UserNameOrEmail
                                <input class="form-control py-4" type="text" asp-for="UserNameOrEmail" readonly hidden />
                            </a>
                            <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
                        </div>

                        <div class="form-group" hidden>
                            <input asp-for="RememberMe" type="checkbox" class="form-control" />
                        </div>

                        <div class="form-group" hidden>
                            <label asp-for="Provider" class="control-label"></label>
                            <span class="text-danger"> (*)</span>
                            <input id="txbProvider" asp-for="Provider" class="form-control" />
                            <span asp-validation-for="Provider" class="text-danger"></span>
                        </div>

                        <p class="p-2 text-center">
                            Bước bổ sung này để chứng minh rằng chính bạn đang cố gắng đăng nhập.
                        </p>

                        <div class="row m-1">
                            <div class="col-4 p-1" onclick="MethodSelected('google')">
                                <div class="card h-100 shadow">
                                    <div class="d-flex justify-content-center">
                                        <img class="card-img-top logo-md mt-2" src="~/img/google-authenticator-logo.png" alt="">
                                    </div>
                                    <button type="button" class="card-body text-center border-0 bg-white">
                                        <p class="card-text">Xác thực bằng Google Authenticator</p>
                                    </button>
                                </div>
                            </div>

                            <div class="col-4 p-1" onclick="MethodSelected('microsoft')">
                                <div class="card h-100 shadow">
                                    <div class="d-flex justify-content-center">
                                        <img class="card-img-top logo-md mt-2" src="~/img/microsoft-authenticator-logo.png" alt="">
                                    </div>
                                    <button type="button" class="card-body text-center border-0 bg-white">
                                        <p class="card-text">Xác thực bằng Microsoft Authenticator</p>
                                    </button>
                                </div>
                            </div>

                            <div class="col-4 p-1" onclick="MethodSelected('email')">
                                <div class="card h-100 shadow">
                                    <div class="d-flex justify-content-center">
                                        <img class="card-img-top logo-md mt-2" src="~/img/email-authenticator-logo.png" alt="">
                                    </div>
                                    <button type="button" class="card-body text-center border-0 bg-white">
                                        <p class="card-text">Xác thực bằng Email</p>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="row m-1">
                            <div class="col-4 p-1" onclick="MethodSelected('sms')">
                                <div class="card h-100 shadow">
                                    <div class="d-flex justify-content-center">
                                        <img class="card-img-top logo-md mt-2" src="~/img/sms-authenticator-logo.png" alt="">
                                    </div>
                                    <button type="button" class="card-body text-center border-0 bg-white">
                                        <p class="card-text">Xác thực bằng SMS</p>
                                    </button>
                                </div>
                            </div>

                            <div class="col-4 p-1" onclick="MethodSelected('recovery')">
                                <div class="card h-100 shadow">
                                    <div class="d-flex justify-content-center">
                                        <img class="card-img-top logo-md mt-2" src="~/img/recovery-code-logo.jpg" alt="">
                                    </div>
                                    <button type="button" class="card-body text-center border-0 bg-white">
                                        <p class="card-text">Xác thực bằng mã khôi phục</p>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="/js/Auth/authenticate-method.js" defer></script>
}