@model ZiTechDev.CommonModel.Requests.Profile.ChangePasswordRequest
@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">@ViewBag.Title</h3></div>
                <div class="card-body">
                    <form asp-controller="Auth" asp-action="ChangePassword">
                        <div class="form-group text-center">
                            <div class="summary-error bg-danger text-white" asp-validation-summary="ModelOnly"></div>
                        </div>
                        <div class="form-group" hidden>
                            <label asp-for="Id" class="control-label"></label>
                            <input asp-for="Id" class="form-control" />
                            <span asp-validation-for="Id" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="OldPassword" class="control-label"></label>
                            <span class="text-danger"> (*)</span>
                            <div class="input-group">
                                <input id="_old-password" class="form-control py-4" type="password" asp-for="OldPassword" />
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <a href="#">
                                            <i onclick="ShowHidePW('old-password')" id="old-password" class="fa fa-eye" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewPassword" class="control-label"></label>
                            <span class="text-danger"> (*)</span>
                            <div class="input-group">
                                <input id="_new-password" class="form-control py-4" type="password" asp-for="NewPassword" />
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <a href="#">
                                            <i onclick="ShowHidePW('new-password')" id="new-password" class="fa fa-eye" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PasswordConfirmation" class="control-label"></label>
                            <span class="text-danger"> (*)</span>
                            <div class="input-group">
                                <input id="_password-confirmation" class="form-control py-4" type="password" asp-for="PasswordConfirmation" />
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <a href="#">
                                            <i onclick="ShowHidePW('password-confirmation')" id="password-confirmation" class="fa fa-eye" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary w-100" type="submit">Lưu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/js/Profile/change-password.js" defer></script>
}
